@model Entities.Colaborateur
@{
    ViewBag.Title = "Recover_Password";
}
<div class="loginPanel" style="width:50%">
    <div class="loginForm" style="width:100%">
        <h4 style="text-align:center">Retrouvez votre compte</h4>

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group row">
                <label class="col-md-4 pull-left">Login</label>
                @Html.TextBox("login", null, new { @class = "form-control col-md-4", autocomplete = "off" })
            </div>
            <br />
            <div class="form-group row">
                <label for="exampleInputPassword1" class="col-md-4">Email</label>
                @Html.TextBox("email", null, new { @class = "form-control col-md-4", autocomplete = "off" })
            </div>
            <div class="btn-form">
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
            <br />
            if (@ViewBag.Message != null)
            {
                <div style="color:red">
                    @ViewBag.Message
                </div>
            }
        }
    </div>
</div>

     
